<a href="https://colab.research.google.com/github/Shravan1711/Data-Science-Assignments/blob/main/Pandas%20Library%20Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
import pandas as pd
import numpy as np

In [48]:
a=pd.Series([100,200,300,400])
print(a,type(a))

0    100
1    200
2    300
3    400
dtype: int64 <class 'pandas.core.series.Series'>

In [49]:
print(a[2])

300

In [50]:
a=pd.Series([100,200,300,400],index=['c','a','b','d'])
print(a)

c    100
a    200
b    300
d    400
dtype: int64

In [51]:
a['d']

400

In [52]:
b=pd.Series([800,450,100],index=['e','f','g'])
b

e    800
f    450
g    100
dtype: int64

In [53]:
a=a.append(b)

In [54]:
print(a)

c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

In [55]:
a.sort_values(ascending=False)

e    800
f    450
d    400
b    300
a    200
c    100
g    100
dtype: int64

In [56]:
a=a.index
a

Index(['c', 'a', 'b', 'd', 'e', 'f', 'g'], dtype='object')

In [57]:
df=pd.DataFrame(a)
df

   0
0  c
1  a
2  b
3  d
4  e
5  f
6  g

In [58]:
df.shape

(7, 1)

In [13]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [59]:
df.head()

   0
0  c
1  a
2  b
3  d
4  e

In [60]:
df.tail()

   0
2  b
3  d
4  e
5  f
6  g

.head() prints the first 5 elements.

.tail() prints the last 5 elements.

In [61]:
df.columns = ['points']
df

  points
0      c
1      a
2      b
3      d
4      e
5      f
6      g

In [62]:
fruits=pd.DataFrame(['orange','mango','apple','mango','orange','apple','orange'])
fruits

        0
0  orange
1   mango
2   apple
3   mango
4  orange
5   apple
6  orange

In [63]:
df['fruits']=['orange','mango','apple','mango','orange','apple','orange']
df

  points  fruits
0      c  orange
1      a   mango
2      b   apple
3      d   mango
4      e  orange
5      f   apple
6      g  orange

In [64]:
d1 =pd.DataFrame({'city':['Chandigarh','Delhi','Kanpur','Chennai','Manali'],
       'Temperature':[15,22,20,25,-2]})
d1

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           25
4      Manali           -2

In [65]:
d1.shape

(5, 2)

In [66]:
city=d1['city']
city

0    Chandigarh
1         Delhi
2        Kanpur
3       Chennai
4        Manali
Name: city, dtype: object

In [67]:
type(city)

pandas.core.series.Series

In [68]:
d2 = pd.DataFrame({'city':['Bangalure','Coimbatore','Srirangam','Pondicherry'],
                   'Temperature':[24,35,36,39]})
d2

          city  Temperature
0    Bangalure           24
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

In [69]:
d2.shape

(4, 2)

In [70]:
d3=pd.concat([d1,d2],axis=0)
d3

          city  Temperature
0   Chandigarh           15
1        Delhi           22
2       Kanpur           20
3      Chennai           25
4       Manali           -2
0    Bangalure           24
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

In [71]:
d3[d3['Temperature']<=20][['city']]

         city
0  Chandigarh
2      Kanpur
4      Manali

In [72]:
d3[d3['Temperature']>=35][['city']]

          city
1   Coimbatore
2    Srirangam
3  Pondicherry

In [73]:
def is_ut(x):
  if x in ['Chandigarh','Pondicherry','Delhi']:
    return True
  else:
    return False

In [78]:
d3['is_ut']=is_ut('city')
d3

          city  Temperature  is_ut
0   Chandigarh           15  False
1        Delhi           22  False
2       Kanpur           20  False
3      Chennai           25  False
4       Manali           -2  False
0    Bangalure           24  False
1   Coimbatore           35  False
2    Srirangam           36  False
3  Pondicherry           39  False

In [79]:
data=pd.DataFrame({'Student':[1,2,3,4,5],
                   'Marks':[10,20,30,40,50]})
data

   Student  Marks
0        1     10
1        2     20
2        3     30
3        4     40
4        5     50

In [80]:
data.groupby(['Marks']).sum()

       Student
Marks
10           1
20           2
30           3
40           4
50           5

In [81]:
data.groupby(['Marks']).count()

       Student
Marks
10           1
20           1
30           1
40           1
50           1

In [86]:
data.groupby(['Student','Marks']).mean()

Empty DataFrame
Columns: []
Index: [(1, 10), (2, 20), (3, 30), (4, 40), (5, 50)]

In [89]:
a=pd.date_range(start='2020-01-01',end='2021-04-01')
a

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
               '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30',
               '2021-03-31', '2021-04-01'],
              dtype='datetime64[ns]', length=457, freq='D')

In [90]:
len(a)

457

In [91]:
type(a)

pandas.core.indexes.datetimes.DatetimeIndex